* {
  box-sizing: border-box;
}

/* --- BASE STYLES --- */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  height: 900px;
  background-color: rgb(212, 212, 212);
  display: grid;
  place-items: center;
}

aside {
  height: 820px;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

/* --- CONTAINER STYLES --- */
.container-blue {
  background-color: white;
  border: 2px dotted rgb(86, 165, 238);
  border-radius: 10px;
  margin: 5px;
}

.container-green {
  border: 2px dotted rgb(161, 214, 111);
  margin: 5px;
}

.container-red {
  border: 2px dotted rgb(219, 68, 68);
  margin: 5px;
}

/* --- GRID STYLES --- */
.center-grid {
  display: grid;
  grid-template: ". centered ." auto / 1fr auto 1fr;
}

.centered {
  grid-area: centered;
  width: 1000px;
}

.three-column__expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

/* --- Header section --- */
.logo {
  width: 100px;
}

.search-bar {
  width: 220px;
  height: 50px;
  margin: 5px;

  border: solid black 2px;
  border-radius: 10px;
  background-color: rgb(212, 212, 212);
}

.menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

/* main left side */
.profile {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
}

/* main center / feed */
.feed {
  height: 900px;
  overflow: hidden;
}

.post {
  display: grid;
  grid-template-columns: auto 1fr;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.media-list {
  height: 20px;
}

.article-list {
  height: 900px;
  overflow: scroll;
  list-style: none;
  padding: 0;
}

.article {
  height: 450px;
  margin: 15px;
}

/* main right side */

.news-list {
  display: grid;
  place-items: center;
  list-style: none;
  padding: 0;
}

.news {
  height: 60px;
  width: 300px;
}
