* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* BASE STYLES */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 3fr 15fr;
}

/* CONTAINER STYLES */
.container-blue {
  border: rgb(0, 183, 255) 2px dashed;
}

.container-green {
  border: rgb(68, 184, 68) 2px dashed;
}

.container-red {
  border: rgb(184, 68, 68) 2px dashed;
}

/* UTILITY STYLES */
.bg-light-grey {
  background-color: rgb(236, 236, 236);
}

.bg-grey {
  background-color: rgb(202, 196, 196);
}

.underline {
  border-bottom: rgb(197, 197, 197) 1px solid;
}

/* GRID STYLES */
.grid-two-column___big-left {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

/* MAIN STYLES */
/* server bar */
.server-bar {
  background-color: rgb(197, 197, 197);
}
.server-list {
  padding: 0;
  list-style: none;
}

.server {
  width: 50px;
  height: 50px;
  margin: 10px auto;

  background-color: white;
  border-radius: 50px;
}

/* channel bar */
.server-name {
  height: 50px;
  padding-left: 8px;
  display: grid;
  align-items: center;
}

h3 {
  margin: 0;
  font-size: 16px;
}

.invite-people {
  height: 200px;
  padding: 10px;

  display: grid;
  place-items: center;
}

.invite-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;

  background-color: white;
}

.invite-text {
  width: 150px;
  height: 50px;

  font-size: 14px;
  text-align: center;
}

.invite-button {
  width: 120px;
  height: 40px;

  color: white;
  background-color: rgb(100, 132, 201);
  border: none;
  border-radius: 5px;
}

.channel-list {
  height: 680px;
  padding: 8px;
  margin: 0;

  list-style: none;
}

.channel {
  height: 20px;
  margin-bottom: 5px;

  background-color: rgb(202, 196, 196);
}

.profile {
  height: 50px;

  display: grid;
  grid-template-columns: 1fr auto repeat(3, 1fr);
  place-items: center;
}

/* Channel Content */
.channel-name-header {
  height: 50px;
  padding-left: 8px;
}

.icon-wrapper {
  height: 50px;
  padding: 0;
  margin: 0;

  display: grid;
  grid-auto-flow: column;
  place-items: center;

  list-style: none;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.welcome {
  height: 800px;
  padding: 8px;
  align-items: end;
}

.feed-list {
  height: auto;
  padding: 0;

  list-style: none;
}

.feed {
  height: 80px;
  padding: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px;
}

.message {
  height: 50px;
  font-size: 14px;
}

.input-message {
  width: 1500px;
  height: 30px;
  margin: 10px;
  padding-left: 5px;

  color: grey;

  border: none;
  border-radius: 5px;
}
